# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [17]:
# import numpy and pandas

import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [18]:
# Your code here:
salaries_df=pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [19]:
# Your code here:
salaries_df.head(50)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
8,"AGOSTINELLI, MICHAEL A",FIREFIGHTER (PER ARBITRATORS AWARD)-EMT,FIRE,F,Salary,NaN,107106.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN
10,"AGOSTO, HECTOR I",POLICE OFFICER/EXPLSV DETECT K9 HNDLR,POLICE,F,Salary,NaN,94524.0,NaN
11,"AGREDANO, ELIAS",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
12,"AGREDANO, MARIO",BRIDGE OPERATOR,TRANSPORTN,F,Salary,NaN,67896.0,NaN
13,"AGRON, EDUARDO",SERGEANT,POLICE,F,Salary,NaN,122472.0,NaN
14,"AGRON, EDWIN",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
15,"AGSALUD, FERNAN S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,40.78
16,"AGSALUD JR, JUANITO S",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
17,"AGUADA, GILBERT GLENN",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
18,"AGUAS, ALEX",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
19,"AGUAYO, BRAULIO",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,89148.0,NaN
20,"AGUAYO, LUIS A",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,92274.0,NaN
21,"AGUAYO, LUIS M",LABORER - APPRENTICE,WATER MGMNT,F,Hourly,40.0,NaN,34.98
22,"AGUAYO, MARIA G",ACCOUNTING TECHNICIAN II,FINANCE,F,Salary,NaN,47160.0,NaN
23,"AGUIAR, WILLIAM M",ADMINISTRATIVE DEPUTY,LAW,F,Salary,NaN,143976.0,NaN
24,"AGUILA, JUANITA",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
25,"AGUILAR, ANDRIA",ALDERMANIC AIDE,CITY COUNCIL,P,Hourly,20.0,NaN,25.00
26,"AGUILAR, EFRAIN",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,38.52
27,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
28,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
29,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,DAIS,F,Salary,NaN,118608.0,NaN
30,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,117072.0,NaN
31,"ABARCA, FRANCES J",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
32,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
33,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,49.35
34,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
35,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
36,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
37,"ABBOTT, CARMELLA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
38,"ABDALLAH, MARAM M",PARAMEDIC,FIRE,F,Salary,NaN,56304.0,NaN
39,"ABDALLAH, ZAID",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
40,"ABDELHADI, ABDALMAHD",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
41,"ABDELLATIF, AREF R",FIREFIGHTER (PER ARBITRATORS AWARD)-PARAMEDIC,FIRE,F,Salary,NaN,105804.0,NaN
42,"ABDELLATIF, HASSAN",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
43,"ABDELMAJEID, AZIZ",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
44,"ABDOLLAHZADEH, ALI",FIREFIGHTER/PARAMEDIC,FIRE,F,Salary,NaN,94476.0,NaN
45,"ABDUL-KARIM, MUHAMMAD A",ENGINEERING TECHNICIAN VI,WATER MGMNT,F,Salary,NaN,118608.0,NaN
46,"ABDULLAH, DANIEL N",FIREFIGHTER-EMT,FIRE,F,Salary,NaN,99324.0,NaN
47,"ABDULLAH, RASHAD",ELECTRICAL MECHANIC (AUTOMOTIVE),DAIS,F,Hourly,40.0,NaN,49.35
48,"ABDULLA, MARYEM E",ASST CORPORATION COUNSEL I,LAW,F,Salary,NaN,64824.0,NaN
49,"ABDUL-SHAKUR, TAHIR J",POOL MOTOR TRUCK DRIVER,STREETS & SAN,P,Hourly,10.0,NaN,29.96

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [30]:
# we have total of 8174 null values
salaries_df['Annual Salary'].isna().sum()
#here because the hourly basis employess does not have any fixed annual salary ,it have Nan Values

8174

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [31]:
# Count hourly vs. salaried employees
hourly_vs_salaried = salaries_df["Salary or Hourly"].value_counts()
print(hourly_vs_salaried)

#we can observe that we have 25528 salaried employees and 8174 houlry employees

Salary or Hourly
Salary    25528
Hourly     8174
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [32]:
# List all departments and count of employees in each department
department_count = salaries_df["Department"].value_counts()
print(department_count)

Department
POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [43]:
# Hypothesis Test 1: Test if the hourly wage of all hourly workers is significantly different from $30/hr
from scipy.stats import ttest_1samp

hourly_wages = salaries_df[salaries_df["Salary or Hourly"] == "Hourly"]["Hourly Rate"].dropna()
hourly_wages

# Perform one-sample t-test
h0 = 30  # Null hypothesis-Hourly wage is $30/hr
alpha = 0.05  # Significance level

stat, pval = ttest_1samp(hourly_wages,h0)

print(stat)
print(pval)

# Check if the null hypothesis can be rejected
if pval < alpha:
    print("Reject the null hypothesis: The mean hourly wage of all hourly workers is different from $30/hr.")
else:
    print("Fail to reject the null hypothesis.")

31.211500329216044
3.825475847673794e-202
Reject the null hypothesis: The mean hourly wage of all hourly workers is different from $30/hr.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [63]:
# Salary  in the police force

police_salaries = salaries_df[(salaries_df["Department"] == "POLICE") &
                                               (salaries_df["Salary or Hourly"] == "Salary")]["Annual Salary"].dropna()

# Perform one-sample t-test

h0 = 86000  # Null hypothesis: Salaries this year are not higher than last year's mean of $86000/year
alpha = 0.05  # Significance level
stat, pval = ttest_1samp(police_salaries, h0)

# One-tailed test

print('stat is  ', stat)
print('pvalue for the two-tailed test is ', pval/2)

# Check if the null hypothesis can be rejected
if stat > 0 and pval < alpha:
    print("Reject the null hypothesis: Salaries this year are higher than last year's mean of $86000/year.")
else:
    print("Fail to reject the null hypothesis.")
    

#if the t-statistic is positive, it indicates that the sample mean is higher 
#than the hypothesized value ($86000/year), providing evidence to reject the null hypothesis in favor of the alternative hypothesis.

stat is   18.51748561981861
pvalue for the two-tailed test is  6.119566952121482e-76
Reject the null hypothesis: Salaries this year are higher than last year's mean of $86000/year.

Using the `crosstab` function, find the department that has the most hourly workers.

In [50]:
# Crosstab to find department with the most hourly workers
hourly_department = pd.crosstab(salaries_df["Department"], salaries_df["Salary or Hourly"]).sort_values(by="Hourly", ascending=False).index[0]
print("Department with the most hourly workers:", hourly_department)

Department with the most hourly workers: STREETS & SAN

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [61]:
# Hourly wages in the department with the most hourly workers
hourly_wages_most_hourly = salaries_df[(salaries_df["Department"] == hourly_department) & (salaries_df["Salary or Hourly"] == "Hourly")]["Hourly Rate"].dropna()

# Perform one-sample t-test
h0 = 35  # Null hypothesis: Hourly wage is $35/hr
alpha = 0.05  # Significance level
stat, pval = ttest_1samp(hourly_wages_most_hourly, h0)

# One-tailed test
pval /= 2

# Check if the null hypothesis can be rejected
if stat < 0 and pval < alpha:
    print("Reject the null hypothesis: Hourly wage in the department with the most hourly workers is less than $35/hr.")
else:
    print("Fail to reject the null hypothesis.")

#we are interested in detecting a negative difference. Therefore, if the t-statistic is negative, it indicates
#that the sample mean is lower than the hypothesized 
#value ($35/hr), providing evidence to reject the null hypothesis in favor of the alternative hypothesis.

Fail to reject the null hypothesis.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [57]:
from scipy.stats import t
import scipy.stats
import numpy as np

# Calculate sample mean and standard error
sample_mean = hourly_wages.mean()
sample_std = hourly_wages.std()
sample_standard_error = scipy.stats.sem(hourly_wages)

# Compute 95% confidence interval
confidence_level = 0.95
degrees_freedom = len(hourly_wages) - 1
confidence_interval = t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

print("95% Confidence Interval for mean hourly wage of all hourly workers:", confidence_interval)

95% Confidence Interval for mean hourly wage of all hourly workers: (34.29839539204317, 34.874504045196865)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [62]:
# Calculate sample mean and standard error for police salaries
police_sample_mean = police_salaries.mean()
police_sample_std = police_salaries.std()
degrees_freedom = len(police_salaries)-1
police_standard_error = scipy.stats.sem(police_salaries)

# Compute 95% confidence interval for police salaries
confidence_level = 0.95
police_confidence_interval = t.interval(confidence_level, degrees_freedom,police_sample_mean, 
                                             police_standard_error)

print("95% Confidence Interval for mean annual salary of salaried police employees:", police_confidence_interval)

95% Confidence Interval for mean annual salary of salaried police employees: (88534.1182885883, 89134.11955863392)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [29]:
# Your code here: